* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Gemunu Libre', sans-serif;
}

body{
	background-color: #000000;
	color: #ffffff;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23c0392b' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

ul{
	list-style: none;
}

a{
	color: #fff;
	text-decoration: none;
}

.container{
	width: 90%;
	margin: auto;
}

/* NAVEGACION */

.nav-main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 20px 0;
}

.nav-brand{
	width: 50px;
}

/* NAV IZQUIERDA*/

.nav-main ul{
	display: flex;
}

.nav-menu li{
	padding: 10px;
}

.nav-main ul li a{
	padding: 6px;
}

.nav-main ul li a:hover{
	border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu{
	flex: 1;
	margin-left: 20px;
}

hr{
	margin: 10px 0;
}

.menu-btn{
	position: absolute;
	cursor: pointer;
	top: 15px;
	right: 30px;
	z-index: 2;
	font-size: 1.5rem;
	display: none;
}


/* SHOWCASE */

.showcase{
	width: 100%;
	height: 550px;
	background: url(./img/showcase.jpg) no-repeat center center/cover;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;
}


.btn:hover{
	background-color: #000;
}

.btn{
	cursor: pointer;
	display: inline-block;
	border: 1px solid #fff;
	font-weight: bold;
	padding: 10px 20px;
	background: #262626;
	color: #fff;
	font-size: 15px;
	margin: 10px 0;
}

.showcase h2,
.showcase p{
	margin-bottom: 10px;
}


/* NEWS CARDS */

.news-cards{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
	margin: 10px 0;
}

.news-cards img{
	width: 100%;
	height: 180px;
}

.news-cards h3{
	font-size: 20px;
	margin: 10px 0;

}

.news-cards a{
	padding: 10px 0;
	color: #f2f2f2;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
}

.news-cards a:hover{
	text-decoration: underline;
}

/* BANNER */

.cards-banner-one{
	width: 100%;
	height: 350px;
	background:  url('./img/banner.jpg') no-repeat center center/cover;
	margin-bottom: 40px;
}

.cards-banner-one .content{
	width: 40%;
	padding: 90px 0 0 30px;
	color: #fff;
}
.cards-banner-one h2,
.cards-banner-one p{
	margin: 10px 0 20px;
}

/* SOCIAL MEDIA */

.social{
	margin: 50px;
}


.social p{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

.link{
	display: flex;
	align-items: center;
	justify-content: center;
}

.link a{
	margin: 0 30px;
}

.link a i{
	font-size: 3rem;
}

/* FOOTER LINKS */

.footer-links{
	background: #2f3640;
	color: #616161;
	font-size: 12px;
	padding: 35px 0;
}

.footer-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	align-items: flex-start;
	justify-content: center;
}

.footer-container ul{
	margin: 0 auto;

}

.footer-container ul li{
	line-height: 2.8;
}

.footer-container ul li a:hover{
	border-bottom: 2px solid #fff;
}

.footer{
	background: #2f3640;
	color: #616161;
	font-size: 12px;
	padding: 20px 0;
	text-align: center;
	padding-bottom: 20px;
}

/* RESPONSIVE DESING */

@media (max-width: 700px){

	.menu-btn{
		display: block;
	}


	.nav-main ul.nav-menu-right{
		margin-right: 40px;
	}

	.nav-main ul.nav-menu{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: #2f3640;
		height: 100%;
		padding: 30px;
		opacity: .9;
		transform: translateX(-400px);
		transition: transform .5s ease-in-out;
	}

	.nav-main ul.nav-menu.show{
		transform: translateX(-20px);
	}

	.news-cards{
		grid-template-columns: repeat(2, 1fr);
	}

	.cards-banner-one .content{
		width: 80%;
	}

	.footer-links .footer-container{
		grid-template-columns: repeat(2, 1fr);
	}

}


@media (max-width: 500px){

	.news-cards{
		grid-template-columns: 1fr;
	}

	.news-cards img{
		height: 270px;
	}

	.cards-banner-one .content{
		width: 100%;
		padding: 60px 20px;
	}

	.footer-links .footer-container{
		display: none;
	}

	.footer{
		font-size: 20px;
		color: #fff;
		cursor: pointer;
	}
}